---
const base = import.meta.env.BASE_URL;
---

<html lang="ru">
	<head>
		<style is:global>
			@font-face {
				font-family: "Inter";
				src: url("${base}/fonts/inter/regular.woff2") format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Inter";
				src: url("${base}/fonts/inter/medium.woff2") format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Inter";
				src: url("${base}/fonts/inter/semibold.woff2") format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Inter";
				src: url("${base}/fonts/inter/bold.woff2") format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}
		</style>

		<link rel="stylesheet" href={`${base}/styles/global.css`} />
	</head>

	<body>
		<slot />
	</body>
</html>
